

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>thymeleaf</title>
</head>
<body>
		<h1>Thymeleaf</h1>
	
		<table border="1">
			<tr>
				<td>Index</td>
				<td>Size</td>
				<td>ODD / Even</td>
				<td>ID</td>
				<td>Name</td>
				<td>Date</td>
			</tr>
			<tr th:each="member, iterState:${list}">
				<td th:text="${iterState.index}"></td>
				<td th:text="${iterState.size}"></td>
				<td th:text="${iterState.odd +' '+ iterState.even}"></td>
				<td th:text="${member.mid}"></td>
				<td th:text="${member.mname}"></td>
				<td th:text="${#dates.format(member.regdate,'yyyy-MM-dd')}"></td>
			</tr>
		</table>
		
		
		
		<h1>Working? th:text=${greeting}</h1>
		
</body>
</html>