<!doctype html>
<html xmlns:th="http//www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="@{/css/normalize.css}">
  <link rel="stylesheet" href="@{/css/main.css}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

  <meta name="theme-color" content="#fafafa">
</head>

<body>
	
	<!--  Content body -->
	<div layout:fragment="content">
		
	</div>
	
	<div class="panel-heading">
		<h1>Springboot project</h1>
	</div>
	<div class="panel-body">
		<h2>show the list </h2>
	</div>
	
	
	<!-- Jquery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <!-- Add your site or application content here -->
  <p>Hello world! This is HTML5 Boilerplate.</p>
  <script src="@{/js/vendor/modernizr-3.11.2.min.js}"></script>
  <script src="@{/js/plugins.js}"></script>
  <script src="@{/js/main.js}"></script>



	<!-- No tag area -->
	<th:block layout:fragment="script"></th:block>
	
	<th:block layout:fragment="script">
		<script th:inline="javascript"> 
			$(document).ready(function(){
				alert("Page is started");
			});
		</script>
	</th:block>
	
	
	



  <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
  <script>
    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto'); ga('set', 'anonymizeIp', true); ga('set', 'transport', 'beacon'); ga('send', 'pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async></script>
</body>

</html>
